.article-section {
  background-color: hsl(0, 0%, 98%);
  padding: 80px 0;

  .article-section-wrapper {
    width: 70rem;
    margin: 0 auto;

    .heading {
      font-size: 36px;
      font-weight: 300;
      color: #2d314d;
      margin: 0 0 40px 0;
    }
  }
  .article-cards {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .article-section-wrapper {
    width: 60rem !important;
    .article-card-content {
      padding: 22px 19px !important;
    }
  }
}
@media (max-width: 1000px) {
  .article-section {
    .article-section-wrapper {
      width: 100% !important;
    }
    .heading {
      font-size: 26px;
      text-align: center;
    }
    .article-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .article-card {
    box-sizing: border-box;
    width: 40%;
    margin: 20px 20px;
  }
}

@media (max-width: 600px) {
  .article-card {
    .writer {
      font-size: 11px;
    }
    .title {
      font-size: 18px !important;
    }
    .description {
      font-size: 15px;
    }
    .article-card-img {
      height: 240px;
    }
    width: 100%;
  }
}
