.feature-section {
  background-color: hsl(220, 16%, 96%);
  padding: 50px 0 30px 0;

  .feature-section-wrapper {
    width: 70rem;
    margin: 0 auto;
  }
  .feature-heading {
    max-width: 600px;
    margin-bottom: 70px;
    .title {
      font-size: 36px;
      color: #2d314d;
      font-weight: 300;
      margin: 20px 0;
    }
    .description {
      line-height: 22px;
      color: #989aaa;
    }
  }
  .feature-list {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .feature-section-wrapper {
    width: 60rem !important;

    .title {
      font-size: 32px !important;
    }
    .description {
      font-size: 18px !important;
    }
    .feature-card {
      .title {
        font-size: 24px !important;
      }
      .description {
        font-size: 16px !important;
      }
    }
  }
}
@media (max-width: 1000px) {
  .feature-section {
    .feature-section-wrapper {
      width: 100% !important;

      .feature-heading {
        max-width: unset;
        text-align: center;
        margin-bottom: 35px;
        padding: 0 30px;
        .title {
          font-size: 30px !important;
        }
        .description {
          font-size: 14px !important;
        }
      }

      .feature-list {
        flex-wrap: wrap;
        justify-content: center;

        .feature-card {
          width: 45%;
          box-sizing: border-box;
          margin: 25px 10px;
          text-align: center;

          .feature-text {
            .title {
              font-size: 22px;
            }
            .description {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .feature-card {
    width: 100% !important;
  }
}
