.banner {
  width: 100vw;
  overflow-x: clip;
  position: relative;

  .banner-wrapper {
    display: flex;
    align-items: center;
    padding-top: 60px;
    height: 650px;
    width: 70rem;
    margin: 0 auto;
  }
  .banner-content {
    text-align: left;
    .heading {
      color: #2d314d;
      font-size: 52px;
      font-weight: 300;
      width: 450px;
      margin: 22px 0;
    }

    .sub-heading {
      color: #989aaa;
      font-size: 18px;
      font-weight: 300;
      width: 460px;
      line-height: 26px;
      padding-bottom: 15px;
    }
  }

  .banner-img {
    background-image: url("../../assets/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px -200px;
    width: 100%;
    height: 100%;
    margin-right: -400px;
    img {
      position: absolute;
      right: -112px;
      top: -30px;
      width: 700px;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    .banner-wrapper {
      width: 60rem;
      height: 550px;
    }
    .banner-content {
      .heading {
        font-size: 45px;
      }
      .sub-heading {
        font-size: 15px;
      }
    }
    .banner-img {
      img {
        right: -95px;
        top: -15px;
        width: 600px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .banner {
    .banner-wrapper {
      padding-top: 0;
      flex-direction: column-reverse;
      height: unset;
      width: 100%;
      .banner-content {
        padding: 0 20px 45px 20px;
        text-align: center;

        .heading {
          width: unset;
        }
        .sub-heading {
          width: unset;
        }
      }
      .banner-img {
        width: 100%;
        background-image: url("../../assets/bg-intro-mobile.svg");
        margin-right: 0;
        background-position: unset;
        display: flex;
        justify-content: center;
        margin-top: -120px;

        img {
          width: 100%;
          position: static;
        }
      }
    }
  }
}

@media (max-width:500px){
  .banner-content{
    padding: 0 30px 45px 30px !important;
    .heading {
      font-size: 35px !important;
    }
    .sub-heading {
      font-size: 15px !important;
    }
  }
  .banner-img {
    margin-top: -60px !important;
  }
}